<div class="jumbotron center">
	<h1>About Me</h1>
</div>
<div class="well well-lg col-xs-6 col-md-4">
	<h3><strong>Hi, I'm Ryan</strong></h3>
	<img src="https://photos-4.dropbox.com/t/2/AAAZGP3jDT5ZBxV3Q4SdldQ763_M3Ezl_blaQ_7knWmYzQ/12/291969717/jpeg/32x32/1/_/1/2/IMG_1600.jpg/ENeXzvIDGL0EIAcoBw/NOBtjAF9dGqt8mFC9gN2KGdMdnxmZZcZW_hrw-_vIHc?size=1600x1200&size_mode=3" class="img-rounded center" width="300px" height="250px" alt="Responsive image"><br><br>
	<p>I am just beginning to learn how to code and I am currently working on my OMR Pinteresting App.</p>
</div>
<div class="well well-lg col-xs-6 col-md-4">
	<h3><strong>My Wife, Alyssa</strong></h3>
	<img src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-9/14516443_10154544662517512_9128538838813776763_n.jpg?oh=d59d748bb3405ded47d55360ac11d9a4&oe=58A458D1" class="img-rounded center" width="300px" height="250px" alt="Responsive image"><br><br>
	<p>Alyssa and I are expecting a baby boy in December!</p><br>
</div>
<div class="well well-lg col-xs-6 col-md-4">
	<h3><strong>Mia and Maggie</strong></h3>
	<img src="https://scontent.ftpa1-1.fna.fbcdn.net/v/t1.0-9/14034938_10154372316412512_5164408513016032937_n.jpg?oh=06e58d6f390f8437d00fc688159f6580&oe=58930880" class="img-rounded center" width="300px" height="250px" alt="Responsive image"><br><br>
	<p>These are our shar peis making funny faces!</p><br><br>
</div>