<div class="jumbotron center">
	<h1>Contact</h1>
</div>
<div class="well well-lg">
	<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email me: <%= mail_to "Ryankdevelops@gmail.com", "Ryankdevelops@gmail.com"  %> </p>
</div>